<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nx/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Listagem de Filmes</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Listagem de Filmes</h1>
        <table>
            <thead>
            <tr>
                <th>NOME</th>
                <th>DURAÇÃO EM MINUTOS</th>
                <th>ANO DE LANÇAMENTO</th>
                <th>GÊNERO</th>
                <th>AÇÕES</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="filme : ${lista}">
                <td th:text="${filme.nome}"></td>
                <td th:text="${filme.duracaoEmMinutos}"></td>
                <td th:text="${filme.anoDeLancamento}"></td>
                <td th:text="${filme.genero}"></td>
                <td>
                    <button><a th:href="@{/filmes/formulario?id={id}(id=${filme.idfilme})}" id="editar">Editar</a></button>
                    <form action="/filmes" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="idfilme" th:value="${filme.idfilme}">
                        <button type="submit">Excluir</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <button id="novo_cadastro"><a href="/filmes/formulario">Novo Cadastro</a></button>
    </div>
</body>
</html>